@import '/node_modules/modern-normalize/modern-normalize.css';

.loader {
  transform: rotateZ(45deg) translate(-50%, -50%);
  perspective: 1000px;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: #434544;
  position: absolute;
  top: 50%;
  left: 50%;
}
.loader:before,
.loader:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;
}
.loader:after {
  color: #ff3d00;
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 10px 15px 10px;
  color: #fff;
  background-color: rgba(216, 0, 12, 0.7);
  border-radius: 20px;
}

.breed-select {
  margin: 20px;
  max-width: 400px;
}

.cat-info {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  background-color: rgba(75, 3, 85, 0.89);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 600px;
  color: rgba(243, 255, 245, 0.952);
  border-radius: 100px;
}

.cat-info-descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  background-repeat: no-repeat;
}

.card-header {
}

.card-description {
}

.card-temperaments {
}

.temperament-span {
  font-weight: 700;
}
